@media screen and (min-width: 480px) {
    body {
      background-color: #a7c6eb;
      font-family: Basic;
      padding-top: 100px;
     
     }
  
#header-img {
 width: 90px;
  height: auto;
  float: left;
  padding-top:0.1em;
 
}
 
#nav-bar{
  background-color: #1f3057;
  position:fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  text-align: left;
  }
    
#nav-bar a {
  color: white;
  display: in-line block;
  padding: 2px 2px;
  text-decoration: none;
  font-size: 2.9vw;
  transition: 0.5s;
  float: right;
  margin: 0 15px  
  }
  
  #nav-bar a:hover{
  transform: scale(1.2);
  transition: 0.9s;  
  }
  
 h1 {
  margin-bottom: 100px;
  word-wrap: break-word;
  letter-spacing: 1px;
  font-size: 3.9vw;
  text-align: center;
 }  
  
  #hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 300px;
  margin-top: 45px;
  align-items: center;
}


#hero > #form >input{
  margin: 10px;
  width: 500px;
  height: 30px;
}

#hero input{
  display: block;
  padding: 8px 18px;
  border: 2px solid black;
  outline: none;
  text-align: center;
}

#hero input[type=submit]{
  display: inline-block;
  outline: 0;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  border-radius:3px;
  width:300px;
}

#hero input[type=submit]:hover{
  background-color: #000;
  color: #fff;
}

#features{
  justify-content: center;
  color: #1f1f1f;
  }

#features .desc{
  padding-left: 10px;
}

#features .desc h2{
  font-size: 3.5vw;
  font-weight: bolder
}

#features .desc p{
  padding-left: 10px;
  font-size: 2.6vw;
}

#feature .desc p{
  padding-left: 24px;
  font-size: 2.9vw;
}

#how-it-works{
  text-align: center;
  margin-top: 50px;
  font-size: 2.5vw;
}

#how-we-work .desc h3:hover{
  text-align: centre;
  margin-top: 50px;
  font-size: 2.5vw;
}

#pricing{
  margin-top: 18px;
  margin-left: 9%;
  display: flex;
}

  .card{
  color: white;
  width: 30%;
  height: 530px;
  margin: 10px;
  background-color: #2458af;
  text-align: center;
  font-weight :600;
  padding: 10px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  border-radius: 2px;
}

.card:hover{
  transform: scale(1.2);
  transition: 0.9s;
}

.card li{
  padding: 20px;
}

.card header{
  background-color: #000;
  margin: 0px;
  padding: 10px;
}

.btn{
  display: inline-block;
  border: none;
  outline: 0;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  background-color: #bb3016;
  color: #000;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

.btn:hover{
 box-shadow: 0 8px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn{
  text-transform: uppercase;
}

ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li{
  padding: 8px 16px;
  border-bottom: 2px solid #ddd;
  cursor: pointer;
}

ul li: last-child{border-bottom:none;}

#footer{
  margin-top: 10px;
  padding: 30px;
}

#footer > ul{
  display: flex;
  justify-content: flex-end;
}

#footer > ul > li{
  padding: 0 8px;
  list-style-type: none;
}

#footer > ul > li a{
  text-decoration: none;
  color: #000000;
  font-size: 1.5em
}

#footer > ul > li a: hover{
  color: #000fff;
}
  
#footer > span{
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  font-size: 1.2em;
  color: #444;
  background-color: #fff;
  padding: 7px;
} 
  
#footer > #form >input[type=submit]{
  margin: 50px;
  width: 200px;
  height: 50px;
  padding: 5px 10px;
  text-align: centre;
}





  
